{% load static %}

<section class="post" id="post">

    <h1 class="heading"> <i class="fas fa-quote-left"></i> nossos posts recentes <i class="fas fa-quote-right"></i> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <img src="static\css\resources\images\img7.jpg" alt="">
            <div class="content">
                <span> <i class="fas fa-calendar"></i> 12 abril, 2024 </span>
                <h3>Projeto Sustentavel</h3>
                <p>Projeto  para criação de uma cidade sustentável </p>
                <a href="https://www.cidadessustentaveis.org.br/inicial/home"><button class="btn">leia mais</button></a>
            </div>
        </div>
    
        <div class="box">
            <img src="static\css\resources\images\img8.jpg" alt="">
            <div class="content">
                <span> <i class="fas fa-calendar"></i> 13 abril, 2024 </span>
                <h3>Arborização Dos locais mais quentes do Brasil</h3>
                <p>Projeto para diminuir o calor no brasil, por meio de plantações de arvores nas cidades.</p>
                <a href="https://www2.itanhaem.sp.gov.br/secretarias/planejamento-e-meio-ambiente/cartilha_espa%C3%A7o_arvore_importancia_arboriacao.pdf"><button class="btn">leia mais</button></a>
            </div>
        </div>
    
        <div class="box">
            <img src="static\css\resources\images\img9.jpg" alt="">
            <div class="content">
                <span> <i class="fas fa-calendar"></i> 14 abril, 2024 </span>
                <h3>A importância das midias sociais para salvar o planeta</h3>
                <p>As redes sociais podem salvar o planeta, por meio de influencies que podem divugar o trabalho e a importancia do meio ambiente.</p>
                <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://portaldeperiodicos.animaeducacao.com.br/index.php/gestao_ambiental/article/download/8737/4887/21959&ved=2ahUKEwj54djT3sKFAxXFrpUCHW50AkwQFnoECBoQAQ&usg=AOvVaw1lv9U_j5-pTZD0qDbbkCYZ"><button class="btn">leia mais</button></a>
            </div>
        </div>
    
    </div>
    
    </section>
    