{% load static %}

<section class="footer">

    <div class="box-container">
    
        <div class="box">
            <a href="#" class="logo"><i class="fas fa-seedling"></i>EcoVida</a>
            <p>Projeto para Salvar o meio ambiente por meio das midias sociais</p>
        </div>
    
        <div class="box">
            <h3 class="share">compartilhar</h3>
            <a href="https://www.facebook.com/ONUBrasil/?locale=pt_BR">facebook</a>
            <a href="https://twitter.com/ONUBrasil?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">twitter</a>
            <a href="https://www.instagram.com/onubrasil/">instagram</a>
        </div>
    
        <div class="box">
            <h3 class="letter">Email</h3>
            <form action="">
                <input type="email" placeholder="faleconosco@onu.org.br">
                <button type="submit" class="fas fa-paper-plane"></button>
            </form>
        </div>
    </div>    
</section>
    
    
    