{% load static %}

<section class="project" id="project">

    <h1 class="heading"> <i class="fas fa-quote-left"></i> nossos projetos <i class="fas fa-quote-right"></i> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <img src="static\css\resources\images\img1.jpg" alt="">
            <div class="icons">
                <a style="--i:1;" href="https://news.un.org/en/story/2021/04/1089322" class="fas fa-heart"></a>
                <a style="--i:2;" href="#" class="fas fa-map"></a>
                <a style="--i:3;" href="https://www.youtube.com/user/unitednations" class="fas fa-video"></a>
            </div>
        </div>
    
        <div class="box">
            <img src="static\css\resources\images\img2.jpg" alt="">
            <div class="icons">
                <a style="--i:1;" href="https://brasil.un.org/pt-br/180436-onu-energia-lan%C3%A7a-plano-de-a%C3%A7%C3%A3o-e-plataforma-de-networking" class="fas fa-heart"></a>
                <a style="--i:2;" href="#" class="fas fa-map"></a>
                <a style="--i:3;" href="https://www.youtube.com/user/unitednations" class="fas fa-video"></a>
            </div>
        </div>
    
        <div class="box">
            <img src="static\css\resources\images\img3.jpg" alt="">
            <div class="icons">
                <a style="--i:1;" href="https://brasil.un.org/pt-br/180436-onu-energia-lan%C3%A7a-plano-de-a%C3%A7%C3%A3o-e-plataforma-de-networking" class="fas fa-heart"></a>
                <a style="--i:2;" href="#" class="fas fa-map"></a>
                <a style="--i:3;" href="https://www.youtube.com/user/unitednations" class="fas fa-video"></a>
            </div>
        </div>
    
        <div class="box">
            <img src="static\css\resources\images\img4.jpg" alt="">
            <div class="icons">
                <a style="--i:1;" href="https://brasil.un.org/pt-br/253597-fundo-brasil-onu-para-amaz%C3%B4nia" class="fas fa-heart"></a>
                <a style="--i:2;" href="#" class="fas fa-map"></a>
                <a style="--i:3;" href="https://www.youtube.com/user/unitednations" class="fas fa-video"></a>
            </div>
        </div>
    
        <div class="box">
            <img src="static\css\resources\images\img5.jpg" alt="">
            <div class="icons">
                <a style="--i:1;" href="https://brasil.un.org/pt-br/253597-fundo-brasil-onu-para-amaz%C3%B4nia" class="fas fa-heart"></a>
                <a style="--i:2;" href="#" class="fas fa-map"></a>
                <a style="--i:3;" href="https://www.youtube.com/user/unitednations" class="fas fa-video"></a>
            </div>
        </div>
    
        <div class="box">
            <img src="static\css\resources\images\img6.jpg" alt="">
            <div class="icons">
                <a style="--i:1;" href="https://news.un.org/en/story/2021/04/1089322" class="fas fa-heart"></a>
                <a style="--i:2;" href="#" class="fas fa-map"></a>
                <a style="--i:3;" href="https://www.youtube.com/user/unitednations" class="fas fa-video"></a>
            </div>
        </div>
    
    </div>
    
    </section>
    