{% load static %}

<section class="home" id="home">

    <div class="content">
    
        <h1> Conectando Pessoas </h1>
        <h1> à Natureza </h1>
        <p>Na EcoVida, estamos comprometidos com a proteção e preservação do nosso planeta. Explore projetos, torne-se voluntário ou contribua com doações. Junte-se a nós na missão de preservar o meio ambiente!</p>
        <a href="#"><button class="btn">explore.</button></a>
    
    </div>
    
    </section>
    
    
<section class="about" id="about">
    
    
<section class="about" id="about">

    <h1 class="heading"> <i class="fas fa-quote-left"></i> sobre nós <i class="fas fa-quote-right"></i> </h1>
    
    <div class="row">
    
        <div class="image">
            <img src="static\css\resources\images\img10.jpg" alt="">
        </div>
    
        <div class="content">
                <h3>juntos nós podemos salvar o planeta</h3>
                <p>Somo um grupo dedicado a salvar o planeta, mantendo o meio ambiente mais agravadel e saudavel de viver</p>
                <p>Ajudar a proteger o meio ambiente é uma das maneiras mais significativas de contribuir para o futuro do nosso planeta. Ao se tornar um voluntário ou fazer uma doação para projetos ambientais, você está desempenhando um papel ativo na preservação da natureza e na promoção de um futuro sustentável.</p>
        
                <p>Como voluntário, você terá a oportunidade de trabalhar diretamente na linha de frente da conservação ambiental. Isso pode envolver atividades como plantar árvores, limpar praias, ou educar a comunidade sobre a importância da sustentabilidade. Além disso, o voluntariado oferece uma chance de aprender novas habilidades, conhecer pessoas com ideias semelhantes e fazer uma diferença tangível no mundo.</p>
        
                <p>Se você não tem tempo para se voluntariar, fazer uma doação é outra maneira incrivelmente eficaz de apoiar a causa ambiental. Sua doação pode ajudar a financiar projetos importantes que protegem a biodiversidade, combatem as mudanças climáticas e promovem a educação ambiental.</p>
        
                <p>Lembre-se, cada ação conta. Seja dedicando seu tempo como voluntário ou contribuindo com recursos financeiros, você está ajudando a garantir que as gerações futuras possam desfrutar de um planeta saudável e próspero. Junte-se a nós hoje e faça parte da solução para os desafios ambientais do nosso tempo.</p>
        </div>
    
    </div>
    
    <div class="box-container">
    
        <div class="box">
            <i class="fas fa-users"></i>
            <h3>1000+</h3>
            <p>voluntários</p>
        </div>
    
        <div class="box">
            <i class="fas fa-tree"></i>
            <h3>1300+</h3>
            <p>árvores plantadas</p>
        </div>
    
        <div class="box">
            <i class="fas fa-paw"></i>
            <h3>450+</h3>
            <p>animais salvos</p>
        </div>
    
        <div class="box">
            <i class="fas fa-donate"></i>
            <h3>850+</h3>
            <p>doadores</p>
        </div>
    
    </div>
    
    </section>
    
    