{% load static %}

<section class="service" id="service">

    <h1 class="heading"> <i class="fas fa-quote-left"></i> nossos serviços <i class="fas fa-quote-right"></i> </h1>
    
    <div class="box-container">
    
        <div class="box">
            <i class="fas fa-seedling"></i>
            <h3>árvores plantadas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
            <a href="https://news.un.org/en/story/2021/04/1089322">leia mais>></a>
        </div>
    
        <div class="box">
            <i class="fas fa-recycle"></i>
            <h3>reciclagem</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
            <a href="https://news.un.org/en/story/2021/04/1089322">leia mais>></a>
        </div>
    
        <div class="box">
            <i class="fas fa-hand-holding-water"></i>
            <h3>conservação da água</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
            <a href="https://news.un.org/en/story/2021/04/1089322">leia mais>></a>
        </div>
    
        <div class="box">
            <i class="fas fa-tree"></i>
            <h3>preservação das árvores</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
            <a href="https://news.un.org/en/story/2021/04/1089322">leia mais>></a>
        </div>
    
        <div class="box">
            <i class="fas fa-paw"></i>
            <h3>proteção dos animais</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
            <a href="https://news.un.org/en/story/2021/04/1089322">leia mais>></a>
        </div>
    
        <div class="box">
            <i class="fas fa-solar-panel"></i>
            <h3>painéis solares</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
            <a href="https://news.un.org/en/story/2021/04/1089322">leia mais>></a>
        </div>
    
    </div>
    
    </section>
    
    