{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/resources/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/resources/form.css' %}">  
    {% include 'head.html' %}
</head>
<br><br><br><br><br><br>
<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="form-container">
        <h2 class="card-title">Login</h2>
        <form method="post" enctype="multipart/form-data" action="/login/">
            {% csrf_token %}
            {{form.as_p}}
            <div class="text-center">
                <button class="btn btn-success" type="submit">Entrar</button>
                <button class="btn btn-secondary cancel" type="button" onclick="history.back()">Cancelar</button>
            </div>
            <a href="{% url 'voluntary_new' %}">Criar Conta</a>
        </form>
    </div>
</main>